@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.bg {
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 2;
    &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: $black;
        opacity: .75;
        z-index: -1;
    }
}
.btn{
    display: inline-block;
    color: $white;
    padding: 10px 30px;
    font-size:20px;
    border-radius: 5px;
    margin: 30px 15px;
    text-transform: uppercase;
    &:hover{
        border-radius: 0;
        text-decoration: underline;
    }
    &.btn-orange{
        background-color: $orange;
    }
    &.btn-dark{
        border: 2px solid $orange;
    }
}

img {
    vertical-align: middle;
    width: 100%;
}

@for $i from 1 through 10{
    .pt-#{$i} {
        padding-top: $i * 10px;
    }
    .pb-#{$i} {
        padding-bottom: $i * 10px;
    }
    .mt-#{$i} {
        margin-top: $i * 10px;
    }
    .mb-#{$i} {
        margin-bottom: $i * 10px;
    }
}

$flex: flex, inline-flex;
@each $i in $flex {
    .d-#{$i} {
        display: $i;
    }
}

$justify: start, center, end, evenly, space-around,  space-between;
@each $i in $justify {
    .justify-content-#{$i} {
        justify-content: $i;
    }
}

$align: start, end, center, baseline, stretch;
@each $i in $align {
    .align-items-#{$i} {
        align-items: $i;
    }
}

$text-align: left, center, right, justify;
@each $i in $text-align {
    .text-align-#{$i} {
        text-align: $i;
    }
}